@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
}

:root {
  --primary: #ea580c; /* orange-600 */
  --primary-hover: #c2410c; /* orange-700 */
  --primary-light: #ffedd5; /* orange-100 */
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 dark:bg-stone-950 dark:text-stone-100 transition-colors duration-300;
  }
}
